<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
				<bindingRedirect oldVersion="13.0.40.188" newVersion="13.0.40.190"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
